<a href="https://colab.research.google.com/github/PDNow-Research/PDNow/blob/main/HandPD-Replication/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [4]:
# Data Science
import re
import csv
import json
import itertools
from tqdm import tqdm
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# General
import os
import sys
import time
import math
import random
from datetime import date
import warnings
current_date = date.today()
warnings.filterwarnings("ignore")

# SVM
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, average_precision_score, classification_report

In [5]:
spiral_df = pd.read_csv('/content/drive/My Drive/Data/HandPD-Replication/Spiral_HandPD.txt', delimiter=' ', index_col=0, names=['Image', 'Label', 'RMS', 'Max_dist', 'Min_dist', 'SD', 'MRT', 'Max_ET', 'Min_ET', 'SD_ET', 'HT_ET_Diff'])

In [6]:
spiral_df.head()

       Label          RMS     Max_dist  ...    Min_ET        SD_ET  HT_ET_Diff
Image                                   ...
1          1  3521.258301  6247.052734  ...  0.002130  1781.795898    0.250000
2          1  4098.876465  6032.535156  ...  0.084960  1443.217529    0.273585
3          1  3854.601807  6453.114746  ...  0.009303  1621.750000    0.256329
4          1  4069.221924  6844.231445  ...  0.021419  1454.390137    0.249221
5          1  4104.271973  6949.925293  ...  0.000000  1553.536499    0.214511

[5 rows x 10 columns]

In [7]:
meander_df = pd.read_csv('/content/drive/My Drive/Data/HandPD-Replication/Meander_HandPD.txt', delimiter=' ', index_col=0, names=['Image', 'Label', 'RMS', 'Max_dist', 'Min_dist', 'SD', 'MRT', 'Max_ET', 'Min_ET', 'SD_ET', 'HT_ET_Diff'])

In [8]:
meander_df.head()

       Label          RMS     Max_dist  ...    Min_ET        SD_ET  HT_ET_Diff
Image                                   ...
1          1  3176.216064  7098.378906  ...  0.156795   802.821106    0.065831
2          1  2751.015869  6263.803711  ...  0.009198   939.975647    0.126183
3          1  3050.623779  6548.623047  ...  0.000000   997.580139    0.060510
4          1  2594.598877  6989.159180  ...  0.367697  2060.858887    0.149533
5          1  3310.786865  6060.232422  ...  0.073079   562.886475    0.166667

[5 rows x 10 columns]

##**SVM IMPLEMENTATION**

In [55]:
X_spiral = spiral_df[['RMS', 'Max_dist', 'Min_dist', 'SD', 'MRT', 'Max_ET', 'Min_ET', 'SD_ET', 'HT_ET_Diff']]
y_spiral = spiral_df['Label']

y_spiral = pd.DataFrame(y_spiral)

In [36]:
# choosing only control patients from meander_df
X_meander = meander_df[meander_df["Label"] == 1]
X_meander = X_meander[['RMS', 'Max_dist', 'Min_dist', 'SD', 'MRT', 'Max_ET', 'Min_ET', 'SD_ET', 'HT_ET_Diff']]

y_meander = meander_df[meander_df["Label"] == 1]
y_meander = y_meander[['Label']]

In [59]:
X = pd.concat([X_spiral, X_meander])
y = pd.concat([y_spiral, y_meander])

In [60]:
# Scaling with both meander and spiral together. Will try scaling separately later.
# Using the paper's suggested normalization method: (fi - ui)/oi

avgdev = X.mad(axis=0)
stddev = X.std(axis=0)

In [61]:
X.sub(avgdev)
X.divide(stddev)

            RMS   Max_dist  Min_dist  ...     Min_ET     SD_ET  HT_ET_Diff
Image                                 ...
1      4.340340   7.138890  4.691389  ...   0.036852  4.670745    4.023882
2      5.052318   6.893747  5.234779  ...   1.469929  3.783206    4.403495
3      4.751223   7.374369  5.286525  ...   0.160955  4.251206    4.125750
4      5.015766   7.821322  4.901463  ...   0.370579  3.812494    4.011343
5      5.058969   7.942105  5.550856  ...   0.000000  4.072393    3.452668
...         ...        ...       ...  ...        ...       ...         ...
68     5.986161  12.187381  7.728966  ...   1.168209  4.209924    2.129567
69     3.574783   7.034448  5.800907  ...   3.118703  1.980718    1.832411
70     4.439252   6.696517  5.148560  ...   1.494999  1.803139    3.338695
71     5.096309   9.836477  6.290773  ...   2.747172  1.574895    2.110091
72     4.381143   8.181361  7.110413  ...  12.773502  5.119455    1.266541

[440 rows x 9 columns]

In [64]:
y_label = y.to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, test_size = 0.2, stratify = y_label)

In [65]:
X_train = X_train.reset_index(drop = True)
X_test = X_test.reset_index(drop = True)

In [66]:
y_train = y_train.reset_index(drop = True)
y_test = y_test.reset_index(drop = True)

In [67]:
y_train.value_counts()

Label
2        237
1        115
dtype: int64

In [78]:
y_test.value_counts()

Label
2        59
1        29
dtype: int64

In [69]:
clf = SVC(kernel='rbf', probability=True, class_weight='balanced')
clf.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight='balanced', coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

To note, it may be useful to look at the weights for this model (see which features are most valuable), but these are only relevant for a linear kernel. RBF kernel does not have relevant/interpretable weights. And of course, linear kernel is not very helpful and good in predicting (51% accuracy). The features are not linearly separable.

In [70]:
y_pred = clf.predict(X_test)
y_proba = clf.predict_proba(X_test)

In [71]:
clf.score(X_test, y_test)

0.7613636363636364

In [72]:
y_pred = pd.Series(y_pred)

In [73]:
type(y_test)

pandas.core.frame.DataFrame

In [74]:
target_names = ['Control', 'PD']
results = classification_report(y_test, y_pred, target_names = target_names, output_dict=True)
results = pd.DataFrame(results).transpose()
conf_mat = confusion_matrix(y_test, y_pred)

In [75]:
results

              precision    recall  f1-score    support
Control        0.833333  0.344828  0.487805  29.000000
PD             0.750000  0.966102  0.844444  59.000000
accuracy       0.761364  0.761364  0.761364   0.761364
macro avg      0.791667  0.655465  0.666125  88.000000
weighted avg   0.777462  0.761364  0.726915  88.000000

In [76]:
conf_mat

array([[10, 19],
       [ 2, 57]])

In [77]:
TN, FP, FN, TP = conf_mat.ravel()

# Sensitivity, hit rate, recall, or true positive rate
TPR = TP/(TP+FN)

# Specificity or true negative rate
TNR = TN/(TN+FP) 

# Precision or positive predictive value
PPV = TP/(TP+FP)

# Negative predictive value
NPV = TN/(TN+FN)

# Fall out or false positive rate
FPR = FP/(FP+TN)

# False negative rate
FNR = FN/(TP+FN)

# False discovery rate
FDR = FP/(TP+FP)

print("TP: ", TP)
print("TN: ", TN)
print("FP: ", FP)
print("FN: ", FN)

print("Sensitivity: ", TPR)
print("Specificity: ", TNR)
print("NPV: ", NPV)
print("PPV: ", PPV)

TP:  57
TN:  10
FP:  19
FN:  2
Sensitivity:  0.9661016949152542
Specificity:  0.3448275862068966
NPV:  0.8333333333333334
PPV:  0.75